/* CSS VARIABLES */
:root {
    --text-title: rgb(166, 166, 166);
    --text-gray: rgb(190, 190, 190);
    --background-dark-gray: rgb(21, 21, 21);
    --background-slightly-dark: rgb(31, 31, 31);
}



/* CSS PSEUDO-ELEMENTS */
p::selection {
    background-color: var(--text-gray);
    color: var(--background-dark-gray);
}

.quoted-text {
    display: inline-block;
    font-size: 16px;
    font-style: italic;

    margin-left: 0px;
    margin-top: 25px;
    margin-bottom: 25px;

    padding-left: 27px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;

    background-color: var(--background-slightly-dark);
}

.quoted-text::before {
    content: open-quote;
}

.quoted-text::after {
    content: close-quote;
}



/* OVERALL STRUCTURE */

body {
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: black;

    font-family: Arial;
    font-size: 16px;
    color: var(--text-gray);
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 5px;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

hr {
    margin-top: 5px;
    margin-bottom: 21px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--background-slightly-dark);

    height: 100px;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.website-title {
    font-family: Arial;
    font-size: 36px;
    font-weight: bold;
    color: var(--text-title);
}

@media (max-width: 800px) {
    body {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    header {
        height: 75px;
    }

    .website-title {
        font-size: 28px;
    }
}



/* NAV */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 30px;
    padding-right: 30px;

    height: 50px;

	background-color: rgb(61, 61, 61);
}

.navlink {
    font-family: Arial;
	color: rgb(153, 153, 153);

    font-style: normal;
    font-size: 14px;

    transition: color 0.3s;
}

.navlink:hover {
    color: rgb(192, 192, 192);
}

@media (max-width: 800px) {
    nav {
        height: 35px;
    }
}



/* SECTION */

section {
	background-color: var(--background-dark-gray);

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-text {
    margin-bottom: 21px;
}

.section-link {
    font-family: Arial;
    color: white;
}

mark {
    background-color: darkgray;
}

@media (max-width: 800px) {
    section {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }
}


/* FOOTER */

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

    background-color: var(--background-slightly-dark);

    height: 70px;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    padding-left: 30px;
    padding-right: 30px;

    font-size: 16px;
}

.footer-text {
    text-align: left;
    font-family: Arial;
    font-style: italic;

	color: rgb(190, 190, 190);
    padding-right: 25px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.quick-nav-links {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.quick-nav-link {
    font-family: Arial;
    color: rgb(190, 190, 190);
    margin-left: 5px;
    margin-right: 5px;
}

.social-media-bar {
    display: flex;
    justify-content: right;
    padding-top: 13px;
    padding-bottom: 13px;
}

.social-media-icon {
    height: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

@media (max-width: 1000px) {
    footer {
        font-size: 14px;
    }
}

@media (max-width: 800px) {
    footer {
        grid-template-columns: 1fr;
        height: 150px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 14px;
    }
    .footer-text {
        text-align: center;
        padding-right: 0px;
    }
    .social-media-bar {
        justify-content: space-between;
    }
}