/* CSS VARIABLES */
:root {
    --text-title: rgb(166, 166, 166);
    --text-gray: rgb(200, 200, 200);
    --background-dark-gray: rgb(21, 21, 21);
    --background-slightly-dark: rgb(31, 31, 31);
}

/* GENERAL TAGS */
body {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 37, 66);
}

h2 {
    font-family: Arial;
    color: var(--text-gray);
}

h3 {
    font-family: Arial;
    color: var(--text-gray);
}

p {
    font-family: Arial;
    color: var(--text-gray);
}


/* CLASSES */
.main-container {
    width: 750px;
}

.site-title {

}

.explanation-text {
    
}

.quiz-question-set {
    margin-top: 50px;
}

.quiz-question {
    margin-top: 35px;
    margin-bottom: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    background-color: rgb(0, 42, 75);
    /*border-style: solid;
    border-width: 1px;
    border-color: white;*/
}

.quiz-question-text {
    margin-top: 0px;
    margin-bottom: 15px;
    padding-top: 0px;
    padding-bottom: 0px;

    /*border-style: solid;
    border-width: 1px;
    border-color: white;*/

    font-size: 18px;
    font-weight: bold;
}

.quiz-radio-alternative {
    display: inline-block;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.quiz-radio-alternative-set {
    display: flex;
    align-items: center;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    padding-top: 0px;
    padding-bottom: 0px;

    /*border-style: solid;
    border-width: 1px;
    border-color: white;*/
}

.quiz-question-alternative-text {
    color: white;
    font-family: Arial;
    margin-left: 15px;
}

.quiz-text-input {
    width: 50%;
}